@{
    Layout = "~/_NoHeader.cshtml";
    PageData["Title"] = "Sửa trang";

    var status = "";
    var db = Database.Open("SiteDB");
    Array userData = null;
    var pageId = UrlData[0];
    if (pageId.IsEmpty()) {
        Response.Redirect("~/admin/pages");
    };
    var row = db.QuerySingle("select * from page where id = @0", pageId);
    if (row.title == null) {
        Response.Redirect("~/admin/pages");
    };
    if (IsPost) {
        var title = Request.Form["title"];
        var text = Request.Unvalidated().Form["text"];
        var source = row.source.Trim() + ".cshtml";
        var dataFile = Server.MapPath(source);
        int updateStatus = 0;
        switch (Request.Form["request"]) {
            case "update":
                updateStatus = db.Execute("update page set title = @0 where id = @1", title, pageId);
                break;
            case "update-post":
                updateStatus = db.Execute("update page set title = @0, status = 1 where id = @1", title, pageId);
                break;
            case "update-draft":
                updateStatus = db.Execute("update page set title = @0, status = 2 where id = @1", title, pageId);
                break;
        };
        if (updateStatus == 1) {
            File.WriteAllText(@dataFile, text, System.Text.Encoding.UTF8);
            status = ">> Cập nhật trang thành công";
        } else {
            status = ">> Có lỗi xảy ra";
        };
        Response.Redirect("~/admin/pages");
    };
}

@section main {
    <main id="adminbox" data-id="@pageId">
        <script>
        $(function () {
            var url = '@row.source';
            $.ajax({
                type: "post",
                url: url,
                data: {},
                datatype: "html",
                success: function (data) {
                    var title = $(data).find('.title-bar h2').text();
                    var content = $(data).find('section').text();
                    $("#ipt-title").val(title);
                    $("#txt-Content").val(content);
                }
            });
        });
        </script>
        <div class="admin-title">
            <h3>@Page.Title</h3>
        </div>
        <div class="admin-toolbar row flex-start">
            <div class="col s8 left-align" style="position: relative;">
                <label for="ipt-title" class="inside-label">Tiêu đề</label>
                <input id="ipt-title" type="text" class="label-inside" />
            </div>
            <div class="col left-align">
                <a class="nav-item admin-tool-icon right-border" href="#">
                    <i id="btn-updateDraft" class="fa fa-archive admin-icon update-btns">
                        <span>&nbsp;Lưu nháp</span>
                    </i>
                </a>
                <a class="nav-item admin-tool-icon right-border" href="#">
                    <i id="btn-updatePost" class="fa fa-archive admin-icon update-btns">
                        <span>&nbsp;Đăng bài</span>
                    </i>
                </a>
                <a class="nav-item admin-tool-icon right-border" href="#">
                    <i id="btn-updatePage" class="fa fa-paper-plane-o admin-icon update-btns">
                        <span>&nbsp;Cập nhật</span>
                    </i>
                </a>
            </div>
        </div>
        <div id="page-edit-content">
            <div class="admin-toolbar row flex-start">
                <div id="font-format" class="page-edit-icon col border-right px-10">
                    <span>Đoạn văn</span>
                    <i class="fa fa-caret-down"></i>
                    <ul id="font-format-ul" class="not-display format-ul">
                        <li><p>Đoạn văn</p></li>
                        <li><h1>Tiêu đề 1</h1></li>
                        <li><h2>Tiêu đề 2</h2></li>
                        <li><h3>Tiêu đề 3</h3></li>
                        <li><h4>Tiêu đề 4</h4></li>
                        <li><h5>Tiêu đề 5</h5></li>
                        <li><h6>Tiêu đề 6</h6></li>
                    </ul>
                </div>
                <div class="col">
                    <i class="admin-icon fa fa-bold"></i>
                    <i class="admin-icon fa fa-italic"></i>
                    <i class="admin-icon fa fa-list-ul"></i>
                    <i class="admin-icon fa fa-list-ol"></i>
                    <i class="admin-icon fa fa-quote-left"></i>
                    <i class="admin-icon fa fa-align-left"></i>
                    <i class="admin-icon fa fa-align-justify"></i>
                    <i class="admin-icon fa fa-align-right"></i>
                    <i class="admin-icon fa fa-link"></i>
                    <i class="admin-icon fa fa-unlink"></i>
                    <i class="admin-icon fa fa-eraser"></i>
                    <i class="admin-icon fa fa-image"></i>
                    <i class="admin-icon fa fa-file-video-o"></i>
                    <i class="admin-icon fa fa-youtube-play"></i>
                </div>
            </div>
            <div id="edit-content">
                <textarea id="txt-Content" class="edit-txtArea" name="post-content" placeholder="Nội dung" value="@userData"></textarea>
                <div class="row" style="padding: 10px 20px; color: #C5CAE9;">
                    <span id="spn-status">@status</span>
                </div>
            </div>
        </div>
    </main>
}
@section Scripts {
    <script src="~/Scripts/siteScripts/admin-pages.js"></script>
}
