<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Dakruco Hotel</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/myScript.js"></script>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>   
    @RenderPage("~/Shared/_SiteAdminBar.cshtml")
    <div class="container">
        @RenderPage("~/Shared/_SiteHeader.cshtml")

        @RenderSection("main", required: false)

        @RenderPage("~/Shared/_SiteFooter.cshtml")
    </div>
    @RenderPage("~/Shared/_NoScript.cshtml");
</body>
</html>